* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   font-size: 16px;
   scroll-behavior: smooth;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
}

body {
   font-family: 'Roboto Slab', system-ui, sans-serif;
   line-height: 1.5;
}

img {
   max-width: 100%;
   display: block;
}

a {
   text-decoration: none;
   cursor: pointer;
}

ul,
ol {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Cinzel', serif;
   line-height: 1.2;
}

input {
   border: none;
   outline: none;
}

button {
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
}

button:focus {
	outline: none
}

.menu-icon {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%23918671'%3E%3Cpath d='M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center/cover;
   width: 2rem;
   height: 2rem;
}

.close-icon {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='%23918671'%3E%3Cpath d='M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z'%3E%3C/path%3E%3Cpath d='M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center/cover;
   width: 2rem;
   height: 2rem;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 2;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 1.5rem;
}

nav a {
   color: #918671;
   font-size: 1rem;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.logo {
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 114.29 114.21' fill='%23918671'%3E%3Cpath d='M64.76,62.16a7.43,7.43,0,0,1,.79-.64c.59-.37,1.22-.68,1.81-1A13,13,0,0,0,72,56.06a21.38,21.38,0,0,0,2.25-6.37c.42-1.91.82-3.83,1.32-5.71a3.86,3.86,0,0,1,2.56-2.79c.8-.27,1.17,0,1.3.78.07.44.08.89.17,1.32a2.25,2.25,0,0,0,1.65,1.94,5.86,5.86,0,0,0,1,.15,2.39,2.39,0,0,0,2.44-2,5.67,5.67,0,0,0-1.77-4.5c-1.43-1.56-4.08-1.69-6-.81a9.11,9.11,0,0,0-3.64,3.39,34.3,34.3,0,0,0-3.75,8.38c-.67,2-1.27,4.12-1.94,6.17a11.83,11.83,0,0,1-1.9,3.84c-.34.43-.75.8-1.13,1.2l-.1-.07v-.43c0-6.49,0-13,0-19.48a2.23,2.23,0,0,1,1.12-2.24,17.33,17.33,0,0,0,1.65-1.26H55.87l.32.27c.71.55,1.42,1.11,2.14,1.65a.63.63,0,0,1,.29.57q0,10.26,0,20.53c0,.11,0,.23,0,.43l-.35-.3a8.06,8.06,0,0,1-2-3.12c-.76-2.12-1.44-4.26-2.13-6.4a44.66,44.66,0,0,0-3.44-8.43,11,11,0,0,0-3.71-4.23,5.46,5.46,0,0,0-6-.19,5.68,5.68,0,0,0-2.42,3.49,2.72,2.72,0,0,0,.17,2.37,2.43,2.43,0,0,0,2.54,1.15,2.36,2.36,0,0,0,2.23-2c.09-.5.13-1,.21-1.51s.42-.87,1-.73a3.73,3.73,0,0,1,2.77,2.71c.42,1.38.69,2.81,1,4.21.46,1.82.84,3.66,1.42,5.44a11,11,0,0,0,4.08,5.75c1.12.8,2.34,1.47,3.5,2.22a11.69,11.69,0,0,1,.95.75l0,.17a9.24,9.24,0,0,1-1.11.49,9.76,9.76,0,0,0-3.71,2q-.56.49-1.15.94a8.35,8.35,0,0,0-3.14,4.55c-.55,2.06-1.13,4.11-1.73,6.15a14,14,0,0,1-1.81,4.06,3,3,0,0,1-3.34,1.37c-1.19-.24-2.41-.4-3.62-.56-.3,0-.75-.15-.85.21-.06.21.21.58.43.78a12.51,12.51,0,0,0,7,3.33,5.58,5.58,0,0,0,4.09-1,7.15,7.15,0,0,0,2.32-3.23,52.62,52.62,0,0,0,2.34-8.6c.34-1.6.62-3.21,1-4.8a7.56,7.56,0,0,1,2.26-4,12.75,12.75,0,0,1,1.11-.78c0,1.16,0,2.18,0,3.2q0,8.65,0,17.3a.68.68,0,0,1-.31.64c-.45.32-.88.67-1.31,1l-1.16.9H67.23c-.84-.68-1.61-1.3-2.39-1.91a.83.83,0,0,1-.36-.74c0-2.47,0-4.95,0-7.42q0-6.25,0-12.5v-.53a4.47,4.47,0,0,1,1.64,1.15,8.92,8.92,0,0,1,2.07,4.34c.6,2.71,1.11,5.43,1.74,8.14a22,22,0,0,0,1.92,5.61A5.34,5.34,0,0,0,77,85.65a11.94,11.94,0,0,0,7.75-3.4,2.65,2.65,0,0,0,.42-.73,2.43,2.43,0,0,0-.84-.22c-1.13.14-2.26.32-3.38.53-1.81.34-2.88-.07-3.78-1.68a15.85,15.85,0,0,1-1.31-2.93c-.68-2.14-1.26-4.32-1.86-6.49a8.08,8.08,0,0,0-2.08-3.93c-.7-.66-1.48-1.24-2.19-1.9a9.68,9.68,0,0,0-3.93-2.1,6.43,6.43,0,0,1-1-.45l0-.2M50.32,109.3l-.13.42c.93.31,1.82.61,2.72.9.29.09.27-.15.32-.37l-2.91-.95m3-2.26c0-.53-.12-.83-.49-1a.6.6,0,0,0-.72.18,1.36,1.36,0,0,0-.32,1.27.64.64,0,0,0,1.14.3,3.2,3.2,0,0,0,.38-.78m.31-1.18.29-1.09c.07-.27.24-.44.52-.37a.44.44,0,0,1,.33.59c-.3,1.22-.59,2.45-.92,3.66,0,.18-.3.42-.44.41s-.36-.25-.59-.44a2.88,2.88,0,0,1-.74.12,1.36,1.36,0,0,1-1.28-1.52,3,3,0,0,1,.24-1.09,1.4,1.4,0,0,1,2.42-.39l.15.11M24.72,44.73l-2.77-1.07c-.22-.09-.31,0-.38.2q-.5,1.33-1,2.66c-.08.21,0,.32.17.4L23.48,48l1.24-3.23M41.51,22.82l1.33,3L46,24.38l-1.32-3-3.17,1.41m60.43,60.57a1.92,1.92,0,1,0,0,3.85,1.92,1.92,0,0,0,0-3.85m-77.76,1.9a1.92,1.92,0,1,0-1.93,1.94,1.92,1.92,0,0,0,1.93-1.94m44.14,24.28c.06.52.12,1,.19,1.56a.78.78,0,0,0,.79.75c.44,0,.69-.22.77-.71a2.4,2.4,0,0,0,0-.64q-.27-2.29-.55-4.59c-.08-.65-.17-1.3-.28-1.95a.65.65,0,0,0-.59-.57c-.34,0-.52.16-.7.43a13.1,13.1,0,0,1-1.18,1.55,6.88,6.88,0,0,1-1,.73.64.64,0,0,0-.2.85.65.65,0,0,0,.87.26,3.42,3.42,0,0,0,.6-.4c.28-.22.54-.47.88-.76l.42,3.48m-21.47-6.14a.6.6,0,0,0-.8.33c-.13.29,0,.6.38.78.22.11.21.21.15.41-.31.88-.63,1.76-.9,2.66a3.1,3.1,0,0,0-.14,1.3c.13.79,1.93,1.53,2.63,1.09a.76.76,0,0,0,.31-.58c0-.17-.24-.35-.42-.47a1.56,1.56,0,0,0-.5-.1.43.43,0,0,1-.37-.62c.08-.26.15-.51.24-.77l.77-2.25c.49,0,1,.45,1.31-.15s-.45-.81-.88-1.06c.14-.48.32-.94.41-1.41a.76.76,0,0,0-.54-.95.78.78,0,0,0-1,.56c-.16.41-.3.82-.46,1.25a1.26,1.26,0,0,1-.21,0m-4.39,2.75a1.5,1.5,0,0,0-.25-1.76c-.34-.41-.75-.76-1.12-1.15a5.62,5.62,0,0,1-.65-.7.56.56,0,0,1,0-.51.64.64,0,0,1,.46-.22,1.29,1.29,0,0,1,1.23,1,3.72,3.72,0,0,0,.18.61.68.68,0,0,0,.76.4.6.6,0,0,0,.54-.66,1.79,1.79,0,0,0-.14-.7,3.53,3.53,0,0,0-3-1.83,1.64,1.64,0,0,0-1.45.86,1.48,1.48,0,0,0,.13,1.63,4.64,4.64,0,0,0,.57.68c.37.37.75.73,1.12,1.09a.6.6,0,0,1,.14.8.67.67,0,0,1-.83.23,1.57,1.57,0,0,1-1.24-1.59.67.67,0,0,0-.64-.69.63.63,0,0,0-.69.64,2.09,2.09,0,0,0,.16,1,3.75,3.75,0,0,0,2.86,1.85,1.85,1.85,0,0,0,1.9-1m43.07-5a2,2,0,0,0-1.39-2.53,3.15,3.15,0,0,0-3.42,2,1.57,1.57,0,0,0,0,1.25.62.62,0,0,0,.77.35.59.59,0,0,0,.5-.67,5.22,5.22,0,0,1,0-.68,1.15,1.15,0,0,1,1.5-.9,1,1,0,0,1,.64.9,1.11,1.11,0,0,1-.6,1.06,5.6,5.6,0,0,0-.63.43.57.57,0,0,0-.07.8.53.53,0,0,0,.74.19c.18-.09.35-.2.52-.3a1.28,1.28,0,0,1,2,.83,1.4,1.4,0,0,1-.51,1.47,1.13,1.13,0,0,1-1.45,0,8,8,0,0,1-.67-.51.64.64,0,0,0-.93.07c-.33.35-.26.83.18,1.24a3,3,0,0,0,4.83-3,2.23,2.23,0,0,0-2.18-1.61c.05-.17.09-.3.12-.43m-7.33,6.41a2.26,2.26,0,0,0-.61-1.47,1.16,1.16,0,0,0-1.82.1,1.78,1.78,0,0,0,.45,2.33,1.16,1.16,0,0,0,1.31.21,1.26,1.26,0,0,0,.67-1.18m-3.39-1.74c.06,0,.1-.05.12-.08a2.27,2.27,0,0,1,2.45-1.31,2.52,2.52,0,0,1,2.14,1.83,2.75,2.75,0,0,1-1.32,3.5,2.79,2.79,0,0,1-3.77-.9,7.05,7.05,0,0,1-1.37-4.33,2.89,2.89,0,0,1,3.75-2.68,2.57,2.57,0,0,1,.95.76.59.59,0,0,1-.09.84.69.69,0,0,1-.85.1,1.2,1.2,0,0,1-.29-.22,1,1,0,0,0-1.08-.34,1.23,1.23,0,0,0-.86,1,3.7,3.7,0,0,0,.23,1.82m13.86-9.27a1.13,1.13,0,0,0,1,1.11,1.24,1.24,0,0,0,1.19-1.14,1.15,1.15,0,0,0-1.1-1.11,1.2,1.2,0,0,0-1.14,1.13m3.39,4.26a1.36,1.36,0,0,0,1.35-1.27A1.58,1.58,0,0,0,92,98a1.37,1.37,0,0,0-1.36,1.31,1.53,1.53,0,0,0,1.4,1.49m.05-4.06a.8.8,0,0,0,.21,0c1.6-.34,3,1.52,2.42,3.21a3.79,3.79,0,0,1-3.21,2.26,2.39,2.39,0,0,1-2.16-3.06,1.08,1.08,0,0,0,.06-.21,6.24,6.24,0,0,1-1.35-.46,2,2,0,0,1-.77-2.21,3.29,3.29,0,0,1,3.06-2.25,1.93,1.93,0,0,1,1.78,2.49,1.72,1.72,0,0,0,0,.21M35.72,96l2.12,1.67a.66.66,0,0,0,.82.08.62.62,0,0,0,.29-.73,1.14,1.14,0,0,0-.36-.51c-1.1-.88-2.21-1.75-3.32-2.63-.69-.55-1.08-.51-1.63.18Q31.8,96.46,30,98.84c-.52.69-.48,1.06.19,1.6s1.43,1.14,2.14,1.7c.47.37.94.77,1.43,1.11a.66.66,0,0,0,1.12-.49,1.14,1.14,0,0,0-.41-.73c-.86-.73-1.76-1.41-2.64-2.12-.1-.08-.2-.3-.16-.36.39-.54.81-1.06,1.24-1.61l.51.39c.73.57,1.45,1.16,2.18,1.72a.67.67,0,0,0,1.13-.3c.11-.36-.11-.59-.35-.79-.6-.49-1.22-1-1.83-1.46l-.81-.65,1.16-1.51.84.66m57-69.21a18.51,18.51,0,0,0,1.55,1.1,1.13,1.13,0,0,0,1.4-1.6c-.35-.47-.78-.89-1.21-1.36l-1.74,1.86m-1.59,1.71c-.79.85-1.56,1.66-2.31,2.48-.56.62-.55.62-1.16,0l-1.74-1.62c-.1-.09-.21-.16-.35-.27l7.84-8.41L94.78,22c1,.92,2,1.82,2.94,2.75a7.06,7.06,0,0,1,1,1.27,2.74,2.74,0,0,1,.2,2.69,4.33,4.33,0,0,1-2.1,2.2,3.22,3.22,0,0,1-3.51-.46c-.65-.48-1.22-1.05-1.82-1.59l-.4-.36M18.42,54.67a1.84,1.84,0,0,1,.53,2,1.68,1.68,0,0,1-1.3,1.39,6.26,6.26,0,0,1-3.55-.36,2.05,2.05,0,0,1-1.42-2.11,2,2,0,0,1,1.65-1.92.42.42,0,0,0,.24-.32c0-.5,0-1-.07-1.49s-.07-1-.11-1.5a4.74,4.74,0,0,0-3.54,2.13,7.25,7.25,0,0,0-.95,3.7,4.77,4.77,0,0,0,2.55,4.63,7.52,7.52,0,0,0,5,.8A4.58,4.58,0,0,0,21,59a11.3,11.3,0,0,0,.7-2.5,4.66,4.66,0,0,0-2.87-5.43c-.19-.09-.3-.11-.41.12-.42.9-.86,1.79-1.29,2.68.44.28.87.51,1.24.81M113,61.56c.08,0,.2-.2.2-.29,0-.74-.12-1.47-.18-2.21-.19-2.14-.38-4.28-.56-6.42,0-.57,0-.57-.61-.52l-9.91.88c-1,.09-1,.09-.87,1.07.24,2.65.47,5.29.7,7.94,0,.23.06.46.1.7l2.62-.24-.52-6,2.12-.18.48,5.44,2.4-.22L108.46,56l1.69-.14.52,5.84c.79-.06,1.54-.11,2.28-.19M76.37,19.78a2.14,2.14,0,0,0,1.48,2.3,1.91,1.91,0,0,0,2.4-.63,5.71,5.71,0,0,0,1.21-3.22,2.22,2.22,0,0,0-4-1.38,6.15,6.15,0,0,0-1.11,2.93M78.94,13a7.85,7.85,0,0,1,4.15,1.63,4.81,4.81,0,0,1,1.82,4.94,7.93,7.93,0,0,1-1.53,3.59A4.86,4.86,0,0,1,78.31,25a8.66,8.66,0,0,1-3-1.2,4.82,4.82,0,0,1-2.38-4.66,7.36,7.36,0,0,1,1.86-4.53A5,5,0,0,1,78.94,13m22.39,28.71c-.82,1.27-1.64,2.55-2.47,3.82a.48.48,0,0,0,0,.6c.61,1,1.2,2.06,1.8,3.1.08.13.16.26.27.42l1-1.86,2.79-5.12c.1-.19.18-.33.45-.25,1,.26,1.95.5,2.92.74l2.57.63c0-.07,0-.1,0-.12-.73-1.28-1.46-2.56-2.21-3.83a.62.62,0,0,0-.39-.23c-1-.19-1.92-.36-2.88-.54l-2.25-.43,3.62-2.1-1.81-3.12-9.92,5.73,1.81,3.12c.66-.38,1.29-.71,1.88-1.1A1.27,1.27,0,0,1,99.63,41c.6.18,1.21.32,1.84.48-.06.11-.09.19-.14.25M60.49,21.38c.08,0,.22-.21.22-.32,0-.73,0-1.45,0-2.18a.57.57,0,0,1,.09-.37c.56-.53,1.14-1,1.72-1.57a2.57,2.57,0,0,1,.19.33c.65,1.27,1.3,2.53,1.93,3.8a.51.51,0,0,0,.52.33c1.22,0,2.45,0,3.67,0,.11,0,.22,0,.38,0L69,21c-1.29-2.11-2.57-4.22-3.87-6.32a.48.48,0,0,1,.07-.71c.89-.88,1.75-1.79,2.62-2.68L69.11,10a1.29,1.29,0,0,0-.2,0c-1.44,0-2.88,0-4.31,0a.72.72,0,0,0-.46.24C63.4,11,62.69,11.86,62,12.7l-1.17,1.35-.09,0V10H57.13V21.39c1.14,0,2.25,0,3.36,0M31.63,18.94l-2.57,2.23,4,4.59a.73.73,0,0,1-.18,0c-2-.52-4-1-5.93-1.6a1.59,1.59,0,0,0-1.85.42,22.57,22.57,0,0,1-1.72,1.53l7.51,8.64,2.56-2.23-3.89-4.49a2.59,2.59,0,0,1,.8.11l5.83,1.53a.73.73,0,0,0,.55,0c.81-.66,1.59-1.36,2.42-2.09l-7.51-8.64M97,62A35.45,35.45,0,1,0,61.54,97.45,35.45,35.45,0,0,0,97,62M61.53,24.77A37.22,37.22,0,1,1,24.32,62,37.2,37.2,0,0,1,61.53,24.77m0-18.1a55.33,55.33,0,1,0,55.33,56.09A55.32,55.32,0,0,0,61.53,6.67M4.36,61.28A1.29,1.29,0,0,0,4.45,61,57,57,0,0,1,6.26,47.67,57.17,57.17,0,0,1,35.2,11.32a56.7,56.7,0,0,1,14-5.09,51.11,51.11,0,0,1,9-1.22c2.09-.08,4.18-.16,6.27-.08,1.9.08,3.79.35,5.67.61A51.52,51.52,0,0,1,77.3,7.11a57.12,57.12,0,0,1,40,42.66,54,54,0,0,1,1.23,9.33c.07,1.73.12,3.46.09,5.18A33.59,33.59,0,0,1,118.3,68c-.25,1.86-.51,3.72-.88,5.56A54.51,54.51,0,0,1,113,86.66a57.18,57.18,0,0,1-37.87,30.79A59.4,59.4,0,0,1,64.31,119a55,55,0,0,1-9.25-.32,56.82,56.82,0,0,1-32-14.57A57.08,57.08,0,0,1,10.15,86.92,56.78,56.78,0,0,1,4.45,63a1.19,1.19,0,0,0-.09-.31Z' transform='translate(-4.36 -4.89)'%3E%3C/path%3E%3C/svg%3E") no-repeat center center/contain;
   width: 4.5rem;
   height: 4.5rem;
   opacity: .8;
}

nav .menu-btn {
   width: 2rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

nav .close-btn {
   width: 2rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav-menu {
   position: absolute;
   right: -15vw;
   width: 15vw;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   transition: all .15s ease;
}

.nav-menu.expanded {
   right: 0;
}

.nav-menu a {
   color: rgba(195, 164, 106, .7);
   font-size: 1rem;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
}

header {
   position: relative;
   height: 100vh;
   background: rgba(33,37,41,.5);
}

header video {
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   object-fit: cover;
   z-index: -1;
}

header .wrapper {
   position: absolute;
   color: #f2ffe8;
   z-index: 2;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   display: grid;
   grid-template-columns: 2fr 1fr;
}

header h1 {
   font-size: 175px;
   color: rgba(195, 164, 106, .7);
   position: relative;
   font-weight: 460;
   text-transform: capitalize;
   display: inline-block;
   vertical-align: baseline;
   line-height: 0.9em;
   letter-spacing: 20px;
   z-index: 2;
}

header h1 span:nth-child(1) {
   position: relative;
   transform: matrix(1, 0, 0, 1, 0, 0);
   opacity: 1;
}

header h1 span:nth-child(2) {
   position: relative;
   top: -12.11955px;
   opacity: 0.947011;
}

header h1 span:nth-child(3) {
   position: relative;
   opacity: 0.782942;
   top: 12.11955px;
}

header h1 span:nth-child(4) {
   position: relative;
   opacity: 0.607761;
}

header h5 {
   font-size: 1.875rem;
   font-weight: 300;
   position: relative;
   line-height: 1.5;
   letter-spacing: 2px;
}

header h5 span {
   font-weight: 700;
   font-size: 2.25rem;
   color: rgba(195, 164, 106, .7);
}

header h5::before {
   color: #f2ffe8;
   position: absolute;
   content: '“';
   font-family: 'Times New Roman';
   font-size: 5rem;
   height: -webkit-fill-available;
   top: -1.75rem;
   left: -3rem;
   z-index: -1;
   opacity: .7;
}

header h5::after {
   color: #f2ffe8;
   position: absolute;
   content: '“';
   font-family: 'Times New Roman';
   font-size: 5rem;
   height: -webkit-fill-available;
   transform: rotate(180deg);
   bottom: -1rem;
   right: 20%;
   z-index: -1;
   opacity: .7;
}